* {
  li {
    list-style-type: none;
  }
  .link {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .headerLink {
    padding: 10px;
    text-decoration: none;
    color: white;
  }
}