* {
  font-family: 'Raleway', sans-serif;
  li {
    list-style-type: none;
  }
  .link {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .headerLink {
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  .title {
    margin: 0 ;
    margin-top: 50px;
    text-align: center;
  }
  h2 {
    margin: 0 30px;
  }
 
}
